@use "styles/base/index" as *;
@use "styles/components" as *;
@use "sass:color";

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include respond-to("desktop") {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include respond-to("desktop-lg") {
    max-width: $max-content-width;
    padding-left: 375px;
    padding-right: 375px;
  }
}

.main-content {
  padding-top: 60px;

  @include respond-to("desktop") {
    padding-top: 0;
  }
}

.text-accent {
  color: $color-accent-dark;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  pointer-events: none;
}

.scroll {
  --scrollbar-color-thumb: #{$color-accent-dark};
  --scrollbar-color-track: #{$color-gray-600};
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
}

@supports (scrollbar-width: auto) {
  .scroll {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}

@supports selector(::-webkit-scrollbar) {
  .scroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
  }

  .scroll::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }

  .scroll::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}
