@use "styles/base/index" as *;
@use "styles/components" as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include respond-to("desktop") {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include respond-to("desktop-lg") {
    max-width: $max-content-width;
    padding-left: 375px;
    padding-right: 375px;
  }
}

.main-content {
  padding-top: 60px;

  @include respond-to("desktop") {
    padding-top: 0;
  }
}

.text-accent {
  color: $color-accent-dark;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 43px;
  padding: 15px 10px;
  color: $color-white;
  font-size: $fs-13;
  background-color: $color-accent-dark;
  border: 1px solid $color-white;
  border-radius: 4px;
  transition: all $duration $function;

  &:active {
    transform: scale(0.97);
  }

  &:hover {
    opacity: 0.8;
  }

  &__secondary {
    color: $color-black;
    background-color: $color-white;
    border-color: $color-gray-500;
  }
}
