$color-white: #ffffff;
$color-black: #000000;
$color-input-bg: rgba(255, 255, 255, 0.85);
$color-header-bg: rgba(16, 16, 29, 0.9);
$color-content-bg: #272733;
$color-footer-bg: #3d4050;
$color-accent-lighter: #42a9ed;
$color-accent: #43abf0;
$color-accent-dark: #3e9cdc;
$color-accent-darker: #286690;
$color-gray-100: #c3c3c3;
$color-gray-105: #c4c4c4;
$color-gray-150: #bbbbbb;
$color-gray-500: #6f6d7b;
