$color-white: #FFFFFF;
$color-black: #000000;
$color-header-bg: rgba(16, 16, 29, 0.9);
$color-banner-bg: rgba(16, 16, 29, 0.9);
$color-footer-bg: #3D4050;
$color-accent: #43abf0;
$color-accent-dark: #3e9cdc;
$color-gray-100: #c3c3c3;
$color-gray-500: #6f6d7b;
