$font-lato: "Lato", sans-serif;

$fs-13: 13px;
$fs-16: 16px;
$fs-20: 20px;
$fs-48: 48px;

@font-face {
  font-family: $font-lato;
  font-size: $fs-16;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
